*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(165, 181, 235);
}
.item{
    width: 100px;
    height: 100px;
    background-color: rgb(201, 146, 253);
    margin-top: 10px;
    margin: 10px;
}
.cnteudo{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% ;
    justify-content: center;
    

}
.meu-site{
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-areas: 
     "menu menu menu"
     "principal principal lado"
     "rodape rodape lado"
    ;
}
.menu{
    height: 25vh;
    background-color: rgb(201, 146, 253);
    grid-area: menu;
}
.lado {
    height: 25vh;
    background-color: rgb(0, 174, 255);
    grid-area: lado;
}
.principal{
    height: 25vh;
    background-color: rgb(165, 181, 235);
    grid-area: principal;
}
.rodape{
    height: 25vh;
    background-color: rgb(146, 42, 146);
    grid-area: rodape;
}