*{
    padding: 0;
margin: 0;
}
body{
    background-color: rgb(107, 248, 142);
}

.menu{
    width: 100%;
    height: 50px;
    background-color: rgb(13, 146, 95);


}
.conteudo-musica{
    width: 100%;
    
}
.rodape{
    width: 100%;
    background-color:  rgb(13, 146, 95);
    text-align: center;
}
.desc-estilos{
    width: 100%;
    background-color: rgb(53, 194, 147);
}
.desc-solo{
    width: 100%;
    background-color: rgb(55, 209, 55);
}
.desc-grupo{
    width: 100%;
    background-color: rgb(34, 206, 149);
}
.desc-bandas{
    width: 100%;
    background-color: rgb(55, 138, 17);
}
.desc-app{
    width: 100%;
    background-color: rgb(27, 170, 122);
}
.img-ini{
    width: 100%;
}